/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html{

  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
}

nav ul a,
nav .brand-logo {
  color: rgb(255, 255, 255);
}

p {
  line-height: 2rem;
}

.sidenav-trigger{
  color:#fff ;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}


.section-search {
  padding: 5px !important;
  font-size: 18px !important;
  width: 100% !important;
  border: #f4f4f4 3px solid !important;
  background-color: white !important;
}

.app-subtitle{
  font-size: 22px;
}


.justify{
  text-align: justify;
}



.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

header{
  /*height: 45em;*/
  height: 70vh;
  background: url("../images/header.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  margin-bottom: 2em;
}

header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  z-index: 0;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(173, 173, 173);
  opacity: 1; /* Firefox */
  font-size: 1.2rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(173, 173, 173);
  opacity: 1; /* Firefox */
  font-size: 1.2rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(173, 173, 173);
  opacity: 1; /* Firefox */
  font-size: 1.2rem;
}

.app-title{
  margin-top: -40px;
  font-size: 36px;
}

.interactive-search{
  margin-left:-10px !important;
}


@media screen and (max-width:600px) {
  
  
  .interactive-search{
    margin-left:0px !important;
  }

  .app-title{
    margin-top: 5px;
    font-size: 32px;
  }

  .app-subtitle{
    /*font-size: 12px;*/
    display: none;
  }
  
 


  
  header{
    /*height: 30em;*/
    height: 100vh;
    background: url("../images/background1.jpg") no-repeat center;

  }

  header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  
}
